<div id="<%= dom_id travel %>">
  <p>
    <strong>Destination:</strong>
    <%= travel.destination_id %>
  </p>

  <p>
    <strong>Rockets:</strong>
    <%= travel.rockets_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= travel.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= travel.price %>
  </p>

</div>
