<h1><strong>#3 </strong> trouvez le trajet idéal</h1>







<% if @travels.empty? %>
  <p>aucun voyage ne correspondent à votre recherche</p>
  <%= simple_form_for Travel.first, url: "/updateTravels", method: "GET" do |f| %>

  <%= f.association :destination, include_blank: false, label: false  %>
  <%= f.association :rocket, include_blank: false, label: false  %>
  <%= f.button :submit, 'rechercher' %>
<% end %>

<% else %>
  <p>Voici les prochains départs correspondant à votre recherche: voyage autour de <strong><%= @travels.first.destination %></strong> à bord de <strong><%= @travels.first.rocket %></strong></p>
  <%= simple_form_for Travel.first, url: "/updateTravels", method: "GET" do |f| %>
  <p>Cela ne vous convient pas ?, <br>vous pouvez effectuer une nouvelle recherche :</p>

  <%= f.association :destination, include_blank: false, label: false %>
  <%= f.association :rocket, include_blank: false, label: false %>
  <%= f.button :submit, 'rechercher' %>
  <% end %>

  <p>Pour vous y retrouver, vous pouvez aussi trier par :</p>
  <%= link_to "Prix", {:sort => "price" }, class:'Bbutton' %>
  <%= link_to "date", {:sort => "date" }, class:'Bbutton' %><br>





  <section class="travelBoxContainer">
    <% @travels.each do |travel| %>
      <div class="travelBox">
        <div>
          <p><%= image_tag travel.destination.planetImg %></p>
        </div>
        <article>
          <h3><%= travel.destination.description %></h3>
          <p>date :<%= travel.date %></p>
          <p>prix :<%= travel.price %></p>
        </article>
        <div>
          <%= image_tag travel.rocket.company.logo %>
          <%= image_tag travel.rocket.rocketImg%>
        </div>









      </div>

    <% end %>
  </section>

<% end%>
