<div id="<%= dom_id rocket %>">
  <p>
    <strong>Name:</strong>
    <%= rocket.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= rocket.company_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= rocket.image %>
    <br>

    <p><%= rocket.id %></p>
  </p>

</div>
