<div id="<%= dom_id destination %>">
  <p>
    <strong>Planet:</strong>
    <%= destination.planet %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag destination.planetImg %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= image_tag destination.banner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= destination.description %>
  </p>
  <br>

    <p>id = <%= destination.id %></p>

</div>
