<div id="<%= dom_id destination %>">
  <p>
    <strong>Planet:</strong>
    <%= destination.planet %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= destination.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= destination.description %>
  </p>
  <br>

    <p><%= destination.id %></p>

</div>
